#user-profile{
    position: relative;
}

#background{
    height: 400px;
    position: relative;
}

#background img{
    width: 100%;
    height: 100%;
}

#settings{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 140%;
}

#settings:hover{
    cursor: pointer;
}

#profile-picture{
    position: absolute;
    top: 325px;
    left: 20px;
    background-color: var(--main);
    border-radius: 100px;
}

#profile-picture img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 2px solid var(--text);
    opacity: 1;
}

#profile-picture:hover img{ opacity: 0.7; }
#profile-picture:hover a{
    opacity: 1;
    cursor: pointer;
}

#profile-picture a{
    position: absolute;
    top: 65px;
    left: 30px;
    color: #ffffff;
    opacity: 0;
}

#user-information{
    margin-left: 200px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#user-information h3{ margin-bottom: 0; }
#user-information div:nth-child(2){ margin-right: 20px;}
#user-information div:nth-child(2) p:first-child{ margin-bottom: 0; }
#about-me{ min-height: 200px; }
.nav-link, .nav-link:hover{ color: var(--main-color); }

#about_me{ width: 80%; }

.settings{
    border: none;
    color: var(--text);
    border-bottom: none;
}

.settings label{ position: static; }
.settings-input{ border-bottom: none;}

#change-about-me p{
    font-size: 20px;
    margin-bottom: 6px;
    display: block;
}
