{% extends 'base.html' %}
{% block head %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='profile-style.css') }}">

{% endblock %}

{% block content %}
<div id="user-data">
    <div id="background">
        <!-- temporary link -->
        <img src="../static/images/backgrounds" alt="Background">
    </div>
    <div id="user-information">
        <div>
            <img src="{{url_for('static', filename=filename)}}" alt="Avatar">
            <p>{{username}}</p>
            <p>{{user_id}}</p>
            <p>{{email}}</p>
        </div>
        <div>
            <p>Dodatkowe informacje</p>
        </div>
    </div>
</div>
<div id="about-me">

</div>
<div id="comments">

</div>
{% endblock %}