{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block content %}
<div id="user-profile">
    <div id="background">
        <!-- temporary link -->
        <img src="{{ url_for('static', filename=background) }}" alt="">
        <div id="settings"><i class="bi bi-gear"></i></div>
    </div>
    <div id="profile-picture">
        <img src="{{ url_for('static', filename=filename) }}" alt="">
        <a>Zmień zdjęcie</a>
    </div>
</div>
<div id="user-information">
    <div>
        <h3>{{ username }}</h3>
        <p>{{ user_id }}</p>
    </div>
    <div>
        <p>Dołączył: {{ date }}</p>
        <p>Znajomi: {{ friends}}</p>
    </div>
</div>
<div id="about-me">
    {{ about_me }}
</div>
<div id="comments">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <button id="comments-tab" class="nav-link active" data-bs-toggle="tab" data-bs-target="#comments-details"
                    type="button" role="tab" aria-selected="true">Komentarze</button></li>
        <li class="nav-item">
            <button id="posts-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#posts-details"
                    type="button" role="tab" aria-selected="true">Posty</button></li>
        <li class="nav-item">
            <button id="answears-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#answears-details"
                    type="button" role="tab" aria-selected="true">Odpowiedzi</button></li>
        <li class="nav-item">
            <button id="friends-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#friends-details"
                    type="button" role="tab" aria-selected="true">Znajomi</button></li>
    </ul>
    <div id="profile-bottom-content" class="tab-content">
        <div class="tab-pane fade show active" id="comments-details" role="tabpanel" aria-labelledby="comments-tab">
            Komentarze
        </div>
        <div class="tab-pane fade" id="posts-details" role="tabpanel" aria-labelledby="posts-tab">
            Posty
        </div>
        <div class="tab-pane fade" id="answears-details" role="tabpanel" aria-labelledby="answears-tab">
            Odpowiedzi
        </div>
        <div class="tab-pane fade" id="friends-details" role="tabpanel" aria-labelledby="friends-tab">
            Znajomi
        </div>
    </div>

</div>
{% endblock %}