:root{
    --main: #1f1f1f;
    --second: #181818;
    --text: #ffffff;
    --main-color: #974dae;
    --dark-color: #3c1f46;
    --alert: #c30101;
}

.button{
    color: var(--text);
    border: 1px solid var(--text);
}

.button:hover{
    background-color: var(--main-color);
}

#container{
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--second);
    color: var(--text);
}

#content{
    display: flex;
    flex-direction: row;
    background-color: var(--main);
    position: relative;
}

main{
    width: 60%;
    background-color: var(--main);
    margin: auto;
}

.navbar{
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 2;
}

.margin-left-12{margin-left: 12px;}
.margin-left-20{margin-left: 60px;}

.bi-sun, .bi-moon{font-size: 30px;}
.bi-sun:hover, .bi-moon:hover{cursor: pointer;}
.bi-sun:hover{ color: #ffa039;}
.bi-moon:hover{ color: #0c2f76;}

#user-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid black;
}

.dropbtn{
    text-decoration: none;
    border: none;
    background-color: var(--second);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    margin-right: 160px;
    overflow: hidden;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    display: block;
}

.show{ display: block; }

.bi-caret-down-fill{
    color: var(--text);
}

#show-list{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 160%;
}

/* sidebar */
#sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--second);
    overflow-x: hidden;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.sidebar-element{
    margin: 5px 0 5px 10%;
}

.sidebar-element a{
    font-size: 130%;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
}

.sidebar-element a:hover{
    background-color: #797979;
}

#close-button{
    display: flex;
    justify-content: flex-end;
    font-size: 180%;
    margin-right: 15px;
}

#cls-btn{ cursor: pointer; }

#sidebar .closebtn {
    text-decoration: none;
    color: var(--text);
    padding: 0;
}

#sidebar .closebtn:hover{ background-color: var(--second);}

#ask{
    margin: 5px auto; 
    border-radius: 30px;
}

#ask:hover{
    background-color: var(--dark-color);
    transition: 0.2s ease-in;
}

#ask a{
    padding: 10px 70px;
}

#ask a:hover{
    background-color: transparent;
    cursor: pointer;
}

.bi-list{ cursor: pointer; }

#ask{
    background-color: var(--main-color);
    padding: 2% 5%;
}

#sidebar-menu{
    display: none;
}

.modal{
    color: var(--text);
}

.modal-body{
    background-color: var(--main);
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .centered-form input[type="text"],
  .centered-form input[type="email"],
  .centered-form input[type="password"]{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
  }

.field-holder{
    position: relative;
}

input{
    border: 0;
    border-bottom: 1px solid var(--text);
    background-color: var(--main);
    outline: none;
}

label{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    cursor: text;
    transition: 0.3s ease-in;
}

input, label{
    font-size: 20px;
    height: 55px;
    color: var(--text);
}

input:focus + label,
input:valid + label{
    font-size: 80%;
    top: -25px;
    pointer-events: none;
    
}

input:focus + label{ color: var(--alert); }
input:valid + label{ color: var(--main-color); }

input:focus{
    border-bottom: 2px solid var(--alert);
    color: var(--alert);
}

input:valid{
   border-bottom: 2px solid var(--main-color);
   color: var(--main-color);
}

#login-submit, #registration-submit{
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 16px 32px;
    border-radius: 50px;
    color: var(--text);
    background-color: var(--main-color);
}

#chose-image{ width: 65%; }
#chose-image label{ position: static; }

#chose-image input{
    border: none;
    color: var(--text);
}

.modal-header, .modal-footer{
    background-color: var(--second);
    border-radius: 0;
}

.modal-header{
    border-bottom: none;
}

.modal-footer{
    display: flex;
    justify-content: center;
    border-top: none;
}

.modal-btn{
    margin: auto;
}

#login-message, #register-message{
    width: 80%;
    margin: auto;
}

