{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block content %}
    <div id="posts">
        {% for post in posts %}
            <div class="post">
                <div>
                    <a href="{{ url_for('profile.user_profile', user_id=post.usertag) }}"><img src="{{ url_for('static', filename=post.avatar) }}"></a>
                    <div>
                        <p>{{ post.username }}</p>
                        <p>{{ post.date }}</p>
                    </div>
                </div>
                <div>
                    <a href="{{ url_for('post.view_post', user_id=post.user_id, post_id=post.post_id) }}">{{ post.title }}</a>
                </div>
            </div>
        {% endfor%}
    </div>
{% endblock %}